In [90]:
# import depenendencies
from google.cloud import bigquery
import pandas as pd

In [91]:
# project id
project_id = 'dataengongcp'

In [4]:
# instantiate bigquery client
client = bigquery.Client()

In [1]:
!gsutil ls -r gs://lpkadvworks

gs://lpkadvworks/data/:

gs://lpkadvworks/data/other_data/:
gs://lpkadvworks/data/other_data/AdventureWorks_Calendar.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Customers.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Product_Categories.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Product_Subcategories.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Products.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Returns.csv
gs://lpkadvworks/data/other_data/AdventureWorks_Territories.csv

gs://lpkadvworks/data/sales_stage/:
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2015.csv
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2016.csv
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2017.csv

In [18]:
# customers
customers = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Customers.csv', encoding ='ISO-8859-1')
customers.head()

,CustomerKey,Prefix,FirstName,LastName,BirthDate,MaritalStatus,Gender,EmailAddress,AnnualIncome,TotalChildren,EducationLevel,Occupation,HomeOwner
0,11000,MR.,JON,YANG,4/8/1966,M,M,jon24@adventure-works.com,"$90,000",2,Bachelors,Professional,Y
1,11001,MR.,EUGENE,HUANG,5/14/1965,S,M,eugene10@adventure-works.com,"$60,000",3,Bachelors,Professional,N
2,11002,MR.,RUBEN,TORRES,8/12/1965,M,M,ruben35@adventure-works.com,"$60,000",3,Bachelors,Professional,Y
3,11003,MS.,CHRISTY,ZHU,2/15/1968,S,F,christy12@adventure-works.com,"$70,000",0,Bachelors,Professional,N
4,11004,MRS.,ELIZABETH,JOHNSON,8/8/1968,S,F,elizabeth5@adventure-works.com,"$80,000",5,Bachelors,Professional,Y

In [19]:
customers.info()
# firstName, LastName to proper
# convert birthdate to date
# convert AnnualIncome, TotalChildren to Integer

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18148 entries, 0 to 18147
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     18148 non-null  int64
 1   Prefix          18018 non-null  object
 2   FirstName       18148 non-null  object
 3   LastName        18148 non-null  object
 4   BirthDate       18148 non-null  object
 5   MaritalStatus   18148 non-null  object
 6   Gender          18018 non-null  object
 7   EmailAddress    18148 non-null  object
 8   AnnualIncome    18148 non-null  object
 9   TotalChildren   18148 non-null  int64
 10  EducationLevel  18148 non-null  object
 11  Occupation      18148 non-null  object
 12  HomeOwner       18148 non-null  object
dtypes: int64(2), object(11)
memory usage: 1.8+ MB

In [20]:
# make fist and last name title case
customers['FirstName'] = customers['FirstName'].str.title()
customers['LastName'] = customers['LastName'].str.title()

In [21]:
# convert b irthdate to date
customers['BirthDate'] = pd.to_datetime(customers['BirthDate'], yearfirst=True)

In [22]:
# convert AnnualIncome to int64
customers['AnnualIncome'] = customers['AnnualIncome'].str.replace('$', '').str.replace(',','').str.strip().astype('int64')

C:\Users\Leonard\AppData\Local\Temp\ipykernel_14340\3674488624.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  customers['AnnualIncome'] = customers['AnnualIncome'].str.replace('$', '').str.replace(',','').str.strip().astype('int64')

In [23]:
customers.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18148 entries, 0 to 18147
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CustomerKey     18148 non-null  int64
 1   Prefix          18018 non-null  object
 2   FirstName       18148 non-null  object
 3   LastName        18148 non-null  object
 4   BirthDate       18148 non-null  datetime64[ns]
 5   MaritalStatus   18148 non-null  object
 6   Gender          18018 non-null  object
 7   EmailAddress    18148 non-null  object
 8   AnnualIncome    18148 non-null  int64
 9   TotalChildren   18148 non-null  int64
 10  EducationLevel  18148 non-null  object
 11  Occupation      18148 non-null  object
 12  HomeOwner       18148 non-null  object
dtypes: datetime64[ns](1), int64(3), object(9)
memory usage: 1.8+ MB

In [26]:
# categories
categories = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Product_Categories.csv')
categories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4 entries, 0 to 3
Data columns (total 2 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ProductCategoryKey  4 non-null      int64
 1   CategoryName        4 non-null      object
dtypes: int64(1), object(1)
memory usage: 192.0+ bytes

In [29]:
# subcategories
subcats = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Product_Subcategories.csv')
subcats.head()

   ProductSubcategoryKey  SubcategoryName  ProductCategoryKey
0                      1   Mountain Bikes                   1
1                      2       Road Bikes                   1
2                      3    Touring Bikes                   1
3                      4       Handlebars                   2
4                      5  Bottom Brackets                   2

In [55]:
# products
products = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Products.csv')
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             293 non-null    int64
 1   ProductSubcategoryKey  293 non-null    int64
 2   ProductSKU             293 non-null    object
 3   ProductName            293 non-null    object
 4   ModelName              293 non-null    object
 5   ProductDescription     293 non-null    object
 6   ProductColor           243 non-null    object
 7   ProductSize            293 non-null    object
 8   ProductStyle           293 non-null    object
 9   ProductCost            293 non-null    float64
 10  ProductPrice           293 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 25.3+ KB

In [56]:
products.head()

,ProductKey,ProductSubcategoryKey,ProductSKU,ProductName,ModelName,ProductDescription,ProductColor,ProductSize,ProductStyle,ProductCost,ProductPrice
0,214,31,HL-U509-R,"Sport-100 Helmet, Red",Sport-100,"Universal fit, well-vented, lightweight , snap...",Red,0,0,13.0863,34.9900
1,215,31,HL-U509,"Sport-100 Helmet, Black",Sport-100,"Universal fit, well-vented, lightweight , snap...",Black,0,0,12.0278,33.6442
2,218,23,SO-B909-M,"Mountain Bike Socks, M",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,M,U,3.3963,9.5000
3,219,23,SO-B909-L,"Mountain Bike Socks, L",Mountain Bike Socks,Combination of natural and synthetic fibers st...,White,L,U,3.3963,9.5000
4,220,31,HL-U509-B,"Sport-100 Helmet, Blue",Sport-100,"Universal fit, well-vented, lightweight , snap...",Blue,0,0,12.0278,33.6442

In [57]:
# products.loc[products['ProductColor'].isna()].head()
products['ProductColor'] = products['ProductColor'].fillna('NoColor')

In [59]:
products.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 293 entries, 0 to 292
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   ProductKey             293 non-null    int64
 1   ProductSubcategoryKey  293 non-null    int64
 2   ProductSKU             293 non-null    object
 3   ProductName            293 non-null    object
 4   ModelName              293 non-null    object
 5   ProductDescription     293 non-null    object
 6   ProductColor           293 non-null    object
 7   ProductSize            293 non-null    object
 8   ProductStyle           293 non-null    object
 9   ProductCost            293 non-null    float64
 10  ProductPrice           293 non-null    float64
dtypes: float64(2), int64(2), object(7)
memory usage: 25.3+ KB

In [60]:
# returns
returns = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Returns.csv')
returns.head()

  ReturnDate  TerritoryKey  ProductKey  ReturnQuantity
0  1/18/2015             9         312               1
1  1/18/2015            10         310               1
2  1/21/2015             8         346               1
3  1/22/2015             4         311               1
4   2/2/2015             6         312               1

In [61]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ReturnDate      1809 non-null   object
 1   TerritoryKey    1809 non-null   int64
 2   ProductKey      1809 non-null   int64
 3   ReturnQuantity  1809 non-null   int64
dtypes: int64(3), object(1)
memory usage: 56.7+ KB

In [62]:
returns['ReturnDate'] = pd.to_datetime(returns['ReturnDate'], yearfirst=True)

In [64]:
returns.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1809 entries, 0 to 1808
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   ReturnDate      1809 non-null   datetime64[ns]
 1   TerritoryKey    1809 non-null   int64
 2   ProductKey      1809 non-null   int64
 3   ReturnQuantity  1809 non-null   int64
dtypes: datetime64[ns](1), int64(3)
memory usage: 56.7 KB

In [67]:
returns['ProductKey'].value_counts()

477    149
480     92
528     91
478     74
214     70
      ...
336      1
569      1
579      1
597      1
591      1
Name: ProductKey, Length: 124, dtype: int64

In [69]:
# territories
territories = pd.read_csv('gs://lpkadvworks/data/other_data/AdventureWorks_Territories.csv')
territories.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   SalesTerritoryKey  10 non-null     int64
 1   Region             10 non-null     object
 2   Country            10 non-null     object
 3   Continent          10 non-null     object
dtypes: int64(1), object(3)
memory usage: 448.0+ bytes

In [86]:
import glob
# sales 
sales_dir = 'gs://lpkadvworks/data/sales_stage/'
files = glob.glob('gs://lpkadvworks/data/sales_stage/*.csv')
all_sales = pd.DataFrame()
yearly_sales = []
for file in files:
    print(file)
    df = pd.read_csv(file)
    df['OrderDate'] = pd.to_datetime(df['OrderDate'], yearfirst=True)
    df['StockDate'] = pd.to_datetime(df['StockDate'], yearfirst=True)
    yearly_sales.append(df)

# df_sales = pd.concat(yearly_sales)

In [111]:
from google.cloud import storage 
storage_client = storage.Client()
blobs = storage_client.list_blobs('lpkadvworks')

In [80]:
!gsutil ls -r gs://lpkadvworks/data/sales_stage/

gs://lpkadvworks/data/sales_stage/:
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2015.csv
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2016.csv
gs://lpkadvworks/data/sales_stage/AdventureWorks_Sales_2017.csv

In [112]:
frames = []
for blob in blobs:
    if 'AdventureWorks_Sales' in blob.name:
        path = f'gs://lpkadvworks/{blob.name}'
        sales = pd.read_csv(path)
        sales['OrderDate'] = pd.to_datetime(sales['OrderDate'], yearfirst=True)
        sales['StockDate'] = pd.to_datetime(sales['StockDate'], yearfirst=True)
        frames.append(sales)

df = pd.concat(frames)

In [113]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 56046 entries, 0 to 29480
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      56046 non-null  datetime64[ns]
 1   StockDate      56046 non-null  datetime64[ns]
 2   OrderNumber    56046 non-null  object
 3   ProductKey     56046 non-null  int64
 4   CustomerKey    56046 non-null  int64
 5   TerritoryKey   56046 non-null  int64
 6   OrderLineItem  56046 non-null  int64
 7   OrderQuantity  56046 non-null  int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 3.8+ MB

In [114]:
df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,2015-01-01,2001-09-21,SO45080,332,14657,1,1,1
1,2015-01-01,2001-12-05,SO45079,312,29255,4,1,1
2,2015-01-01,2001-10-29,SO45082,350,11455,9,1,1
3,2015-01-01,2001-11-16,SO45081,338,26782,6,1,1
4,2015-01-02,2001-12-15,SO45083,312,14947,10,1,1

In [110]:

# read, format and save csv to parquet
df_sales_15 = pd.read_csv('gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.csv')

In [113]:
df_ord_qty = df_sales_15['ProductKey'].unique()
df_ord_qty

array([332, 312, 350, 338, 310, 314, 345, 313, 351, 344, 326, 348, 311,
       324, 342, 349, 346, 328, 334, 347, 320, 330, 322, 340, 336, 371,
       373, 354, 362, 385, 358, 377, 381, 379, 369, 370, 368, 352, 375,
       387, 360, 356, 383, 389], dtype=int64)

In [115]:
# uri = "gs://cloud-samples-data/bigquery/us-states/us-states.csv"
# pd.read_csv(uri)

In [41]:
def format_and_to_parquet(csv_uri, parquet_uri):
    df = pd.read_csv(csv_uri)
    date_cols = ['OrderDate', 'StockDate']
    for col in date_cols:
        df[col] = df[col].str.replace('/', '-')
        df[col] = pd.to_datetime(df[col])
    df.to_parquet(parquet_uri, compression='snappy', index=False)

In [57]:
def format_and_to_csv(csv_uri, csv_formatted_uri):
    df = pd.read_csv(csv_uri)
    date_cols = ['OrderDate', 'StockDate']
    for col in date_cols:
        df[col] = df[col].str.replace('/', '-')
        df[col] = pd.to_datetime(df[col])
    df.to_csv(f'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_{csv_formatted_uri}_2015.csv', index=False)

In [58]:
csv_uri = 'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.csv'
parquet_uri = 'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.parquet'
csv_formatted_uri = 'formatted'

In [71]:
format_and_to_csv(csv_uri, csv_formatted_uri)

In [72]:
!gsutil ls -r gs://lpkadvworks/data/AW_Sales

gs://lpkadvworks/data/AW_Sales/:
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.csv
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.parquet
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.snappy.parquet
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2016.csv
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2017.csv
gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_formatted_2015.csv

In [122]:
sales_2015_formatted_df = pd.read_csv('gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_formatted_2015.csv')

In [128]:

date_cols = ['OrderDate', 'StockDate']
for col in date_cols:
    sales_2015_formatted_df[col] = sales_2015_formatted_df[col].str.replace('/', '-')
    sales_2015_formatted_df[col] = pd.to_datetime(sales_2015_formatted_df[col])

In [129]:
sales_2015_formatted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2630 entries, 0 to 2629
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   OrderDate      2630 non-null   datetime64[ns]
 1   StockDate      2630 non-null   datetime64[ns]
 2   OrderNumber    2630 non-null   object
 3   ProductKey     2630 non-null   int64
 4   CustomerKey    2630 non-null   int64
 5   TerritoryKey   2630 non-null   int64
 6   OrderLineItem  2630 non-null   int64
 7   OrderQuantity  2630 non-null   int64
dtypes: datetime64[ns](2), int64(5), object(1)
memory usage: 164.5+ KB

In [138]:
sales_2015_formatted_df.to_gbq(f'{project_id}.advworks.stage_sales', project_id)

In [153]:
def format_to_gbq(csv_uri, project_id, gbq_table):
    df = pd.read_csv(csv_uri)
    date_cols = ['OrderDate', 'StockDate']
    for col in date_cols:
        df[col] = df[col].str.replace('/', '-')
        df[col] = pd.to_datetime(df[col])
    df.to_gbq(gbq_table, project_id, if_exists='replace')

In [142]:
sales_2015_uri = 'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2015.csv'
gbq_table_id = f'{project_id}.advworks.stage_sales'

In [144]:
# create sales table
schema=[
        bigquery.SchemaField('OrderDate', 'TIMESTAMP'),
        bigquery.SchemaField('StockDate', 'TIMESTAMP'),
        bigquery.SchemaField('OrderNumber', 'STRING'),
        bigquery.SchemaField('ProductKey', 'INTEGER'),
        bigquery.SchemaField('CustomerKey', 'INTEGER'),
        bigquery.SchemaField('TerritoryKey', 'INTEGER'),
        bigquery.SchemaField('OrderLineItem', 'INTEGER'),
        bigquery.SchemaField('OrderQuantity', 'INTEGER'),
    ]
table_id = 'dataengongcp.advworks.sales'
table = bigquery.Table(table_id, schema=schema)
table = client.create_table(table)  # Make an API request.
print(
    "Created table {}.{}.{}".format(table.project, table.dataset_id, table.table_id)
)

Created table dataengongcp.advworks.sales

In [156]:
# function to upsert data from staging table to main table
def merge_stage_into_sales():
    # merge into sales table
    merge_query = f'''
        MERGE INTO `{project_id}.advworks.sales` AS s
        USING `{project_id}.advworks.stage_sales` AS ss
        ON s.OrderNumber = ss.OrderNumber
        WHEN MATCHED THEN
            UPDATE SET s.OrderDate = ss.OrderDate,
                        s.StockDate = ss.StockDate,
                        s.ProductKey = ss.ProductKey,
                        s.CustomerKey = ss.CustomerKey,
                        s.TerritoryKey = ss.TerritoryKey,
                        s.OrderLineItem = ss.OrderLineItem,
                        s.OrderQuantity = ss.OrderQuantity
        WHEN NOT MATCHED THEN
            INSERT (OrderDate, StockDate, OrderNumber, ProductKey, CustomerKey, TerritoryKey, OrderLineItem, OrderQuantity)
            VALUES (ss.OrderDate, ss.StockDate, ss.OrderNumber, ss.ProductKey, ss.CustomerKey, ss.TerritoryKey, ss.OrderLineItem, ss.OrderQuantity)
    '''
    job_config = bigquery.QueryJobConfig()
    job_config.priority = bigquery.QueryPriority.BATCH
    query_job = client.query(merge_query, job_config=job_config)
    query_job.result()

In [152]:
# format_to_gbq(sales_2015_uri, project_id, gbq_table_id)
df_16 = pd.read_csv('gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2016.csv')
df_16.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,1/1/2016,10/17/2002,SO48797,385,14335,1,1,1
1,1/1/2016,9/30/2002,SO48802,383,24923,9,1,1
2,1/1/2016,11/29/2002,SO48801,326,15493,1,1,1
3,1/1/2016,11/16/2002,SO48799,352,26708,4,1,1
4,1/1/2016,12/16/2002,SO48798,369,23332,9,1,1

In [154]:
sales_2016_uri = 'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_2016.csv'
gbq_table_id = f'{project_id}.advworks.stage_sales'
format_to_gbq(sales_2016_uri, project_id, gbq_table_id)

In [157]:
merge_stage_into_sales()

In [158]:
def print_dataset_details(project_id):
    datasets = list(client.list_datasets())
    counter = 0
    table_counter = 0
    print(f'There are {len(datasets)} datasets in {project_id.upper()} project')
    for dataset in datasets:
        counter += 1
        print(f'dataset {counter}: {dataset.dataset_id}')
        print('............................................')
        tables = list(client.list_tables(dataset))
        print(f'There are {len(tables)} tables in {dataset.dataset_id} dataset')
        for table in tables:
            table_counter += 1
            print(f'table {table_counter}: {table.table_id}')

In [ ]:
# perform test query
QUERY = (
    f'SELECT * FROM `{project_id}.retail.orders`'
    'LIMIT 10'
)
query_job = client.query(QUERY)
rows = query_job.result()

In [ ]:
for row in rows:
    print(row.values())

In [ ]:
# create new dataset advworks
advworks_dataset = bigquery.Dataset(f'{project_id}.advworks')
advworks_dataset.location = 'US'
advworks_dataset = client.create_dataset(advworks_dataset, timeout=30)

In [159]:
print_dataset_details(project_id)

There are 3 datasets in DATAENGONGCP project
dataset 1: advworks
............................................
There are 2 tables in advworks dataset
table 1: sales
table 2: stage_sales
dataset 2: retail
............................................
There are 3 tables in retail dataset
table 3: daily_product_revenue
table 4: order_items
table 5: orders
dataset 3: sms_db
............................................
There are 3 tables in sms_db dataset
table 6: users
table 7: users_duplicate
table 8: users_stg

In [84]:
# create tables
table_id = f'{project_id}.advworks.sales'

jobs_config = bigquery.LoadJobConfig(
    schema=[
        bigquery.SchemaField('OrderDate', 'STRING'),
        bigquery.SchemaField('StockDate', 'STRING'),
        bigquery.SchemaField('OrderNumber', 'STRING'),
        bigquery.SchemaField('ProductKey', 'STRING'),
        bigquery.SchemaField('CustomerKey', 'STRING'),
        bigquery.SchemaField('TerritoryKey', 'STRING'),
        bigquery.SchemaField('OrderLineItem', 'STRING'),
        bigquery.SchemaField('OrderQuantity', 'STRING'),
    ]
)

# job_config = bigquery.LoadJobConfig(
#     source_format=bigquery.SourceFormat.PARQUET,
# )
file_uri = 'gs://lpkadvworks/data/AW_Sales/AdventureWorks_Sales_formatted_2015.csv'

In [85]:
load_job = client.load_table_from_uri(
    file_uri, table_id, job_config=jobs_config
)
load_job.result()

LoadJob<project=dataengongcp, location=US, id=30fa7a06-eaaf-4bb9-872f-575bb43ceae4>

In [86]:
sales_table = client.get_table(table_id)
print(f'Loaded {sales_table.num_rows} rows to table {table_id}')

Loaded 2631 rows to table dataengongcp.advworks.sales

In [ ]:
# validate by reading table from bigquery using pandas

In [100]:
query = f'''
    SELECT *
    FROM `{project_id}.advworks.sales`
'''
df = pd.read_gbq(query, project_id=project_id)
df.head()

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,2015-01-04,2001-09-15,SO45098,310,29167,1,1,1
1,2015-01-06,2001-09-24,SO45103,310,29140,1,1,1
2,2015-01-08,2001-11-01,SO45114,310,29146,1,1,1
3,2015-01-09,2001-09-24,SO45121,310,29169,1,1,1
4,2015-01-14,2001-12-25,SO45152,310,29276,1,1,1

In [101]:
df['OrderQuantity'].value_counts()

1                2630
OrderQuantity       1
Name: OrderQuantity, dtype: int64

In [102]:
df.loc[df['OrderQuantity'] == 'OrderQuantity']

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
2630,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity

In [97]:
query = f'''
    SELECT ProductKey,
        COUNT(ProductKey) as NumOrders
    FROM `{project_id}.advworks.sales`
    GROUP BY 1
    ORDER BY COUNT(OrderNumber) DESC
'''
top_date_quantity_df = pd.read_gbq(query, project_id=project_id)

,OrderDate,StockDate,OrderNumber,ProductKey,CustomerKey,TerritoryKey,OrderLineItem,OrderQuantity
0,2015-01-04,2001-09-15,SO45098,310,29167,1,1,1
1,2015-01-06,2001-09-24,SO45103,310,29140,1,1,1
2,2015-01-08,2001-11-01,SO45114,310,29146,1,1,1
3,2015-01-09,2001-09-24,SO45121,310,29169,1,1,1
4,2015-01-14,2001-12-25,SO45152,310,29276,1,1,1

In [99]:
top_date_quantity_df.tail()

    ProductKey  NumOrders
40         322         24
41         330         24
42         346         24
43         347         22
44  ProductKey          1